USE [master]
GO
/****** Object:  Database [ObligatorioDA1Prod]    Script Date: 17/6/2021 15:55:09 ******/
CREATE DATABASE [ObligatorioDA1Prod]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ObligatorioDA1Prod', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ObligatorioDA1Prod.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ObligatorioDA1Prod_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ObligatorioDA1Prod_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ObligatorioDA1Prod].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ObligatorioDA1Prod]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17/6/2021 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 17/6/2021 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_dbo.Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrasenia]    Script Date: 17/6/2021 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrasenia](
	[ContraseniaId] [int] IDENTITY(1,1) NOT NULL,
	[Sitio] [nvarchar](25) NOT NULL,
	[Usuario] [nvarchar](25) NOT NULL,
	[Notas] [nvarchar](250) NULL,
	[FechaUltimaModificacion] [datetime2](7) NOT NULL,
	[CantidadVecesEncontradaVulnerable] [int] NOT NULL,
	[Categoria_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Contrasenia] PRIMARY KEY CLUSTERED 
(
	[ContraseniaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 17/6/2021 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial](
	[HistorialId] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_dbo.Historial] PRIMARY KEY CLUSTERED 
(
	[HistorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialContrasenia]    Script Date: 17/6/2021 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialContrasenia](
	[HistorialId] [int] NOT NULL,
	[ContraseniaId] [int] NOT NULL,
	[Clave] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HistorialContrasenia] PRIMARY KEY CLUSTERED 
(
	[HistorialId] ASC,
	[ContraseniaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialTarjetas]    Script Date: 17/6/2021 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialTarjetas](
	[HistorialId] [int] NOT NULL,
	[NumeroTarjeta] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.HistorialTarjetas] PRIMARY KEY CLUSTERED 
(
	[HistorialId] ASC,
	[NumeroTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Password]    Script Date: 17/6/2021 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Password](
	[ContraseniaId] [int] NOT NULL,
	[Clave] [nvarchar](max) NOT NULL,
	[Mayuscula] [bit] NOT NULL,
	[Minuscula] [bit] NOT NULL,
	[Numero] [bit] NOT NULL,
	[Especial] [bit] NOT NULL,
	[Largo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Password] PRIMARY KEY CLUSTERED 
(
	[ContraseniaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarjetaCredito]    Script Date: 17/6/2021 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetaCredito](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](25) NOT NULL,
	[Tipo] [nvarchar](25) NOT NULL,
	[Numero] [nvarchar](16) NOT NULL,
	[Codigo] [nvarchar](3) NOT NULL,
	[Vencimiento] [datetime] NOT NULL,
	[Nota] [nvarchar](250) NULL,
	[CantidadVecesEncontradaVulnerable] [int] NOT NULL,
	[Categoria_Id] [int] NULL,
 CONSTRAINT [PK_dbo.TarjetaCredito] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/6/2021 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaveMaestra] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (1, N'Estudio')
INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (3, N'Familia')
INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (5, N'Otros')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Contrasenia] ON 

INSERT [dbo].[Contrasenia] ([ContraseniaId], [Sitio], [Usuario], [Notas], [FechaUltimaModificacion], [CantidadVecesEncontradaVulnerable], [Categoria_Id]) VALUES (1, N'netflix.com', N'usuarionetflix', N'', CAST(N'2021-06-17T15:12:36.9448416' AS DateTime2), 0, 1)
INSERT [dbo].[Contrasenia] ([ContraseniaId], [Sitio], [Usuario], [Notas], [FechaUltimaModificacion], [CantidadVecesEncontradaVulnerable], [Categoria_Id]) VALUES (2, N'amazon.com', N'usuarioamazon', N'', CAST(N'2021-06-17T15:05:58.0801633' AS DateTime2), 1, 1)
INSERT [dbo].[Contrasenia] ([ContraseniaId], [Sitio], [Usuario], [Notas], [FechaUltimaModificacion], [CantidadVecesEncontradaVulnerable], [Categoria_Id]) VALUES (3, N'disneyplus', N'usuariodisney', N'', CAST(N'2021-06-17T15:05:58.0801633' AS DateTime2), 0, 1)
SET IDENTITY_INSERT [dbo].[Contrasenia] OFF
GO
SET IDENTITY_INSERT [dbo].[Historial] ON 

INSERT [dbo].[Historial] ([HistorialId], [Fecha]) VALUES (1, CAST(N'2021-06-17T15:35:50.4484662' AS DateTime2))
INSERT [dbo].[Historial] ([HistorialId], [Fecha]) VALUES (2, CAST(N'2021-06-17T15:36:18.9106789' AS DateTime2))
INSERT [dbo].[Historial] ([HistorialId], [Fecha]) VALUES (3, CAST(N'2021-06-17T15:36:39.9435493' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Historial] OFF
GO
INSERT [dbo].[HistorialContrasenia] ([HistorialId], [ContraseniaId], [Clave]) VALUES (1, 2, N'usuarioamazon')
INSERT [dbo].[HistorialContrasenia] ([HistorialId], [ContraseniaId], [Clave]) VALUES (1, 5, N'asdasAAasdd2223')
INSERT [dbo].[HistorialContrasenia] ([HistorialId], [ContraseniaId], [Clave]) VALUES (1, 6, N'usuar')
GO
INSERT [dbo].[HistorialTarjetas] ([HistorialId], [NumeroTarjeta]) VALUES (1, N'3333485524452236')
INSERT [dbo].[HistorialTarjetas] ([HistorialId], [NumeroTarjeta]) VALUES (1, N'9885524886565688')
INSERT [dbo].[HistorialTarjetas] ([HistorialId], [NumeroTarjeta]) VALUES (2, N'3333485524452236')
GO
INSERT [dbo].[Password] ([ContraseniaId], [Clave], [Mayuscula], [Minuscula], [Numero], [Especial], [Largo]) VALUES (1, N'usuaris', 0, 0, 0, 0, 0)
INSERT [dbo].[Password] ([ContraseniaId], [Clave], [Mayuscula], [Minuscula], [Numero], [Especial], [Largo]) VALUES (2, N'usuarioamazon', 0, 0, 0, 0, 0)
INSERT [dbo].[Password] ([ContraseniaId], [Clave], [Mayuscula], [Minuscula], [Numero], [Especial], [Largo]) VALUES (3, N'UsuarioDisnaycoa3asca ', 0, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[TarjetaCredito] ON 

INSERT [dbo].[TarjetaCredito] ([Id], [Nombre], [Tipo], [Numero], [Codigo], [Vencimiento], [Nota], [CantidadVecesEncontradaVulnerable], [Categoria_Id]) VALUES (1, N'Oca', N'Oca Visa', N'1566511265552258', N'555', CAST(N'2021-10-15T15:24:33.000' AS DateTime), N'', 0, 1)
INSERT [dbo].[TarjetaCredito] ([Id], [Nombre], [Tipo], [Numero], [Codigo], [Vencimiento], [Nota], [CantidadVecesEncontradaVulnerable], [Categoria_Id]) VALUES (2, N'visabrou', N'visa', N'9885524886565688', N'885', CAST(N'2022-06-23T15:25:25.000' AS DateTime), N'', 1, 3)
INSERT [dbo].[TarjetaCredito] ([Id], [Nombre], [Tipo], [Numero], [Codigo], [Vencimiento], [Nota], [CantidadVecesEncontradaVulnerable], [Categoria_Id]) VALUES (3, N'Master Card', N'Master', N'3333485524452236', N'222', CAST(N'2022-03-03T15:25:58.000' AS DateTime), N'', 1, 2)
SET IDENTITY_INSERT [dbo].[TarjetaCredito] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [ClaveMaestra]) VALUES (1, N'cosas')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Nombre]    Script Date: 17/6/2021 15:55:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Nombre] ON [dbo].[Categoria]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categoria_Id]    Script Date: 17/6/2021 15:55:10 ******/
CREATE NONCLUSTERED INDEX [IX_Categoria_Id] ON [dbo].[Contrasenia]
(
	[Categoria_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialId]    Script Date: 17/6/2021 15:55:10 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialId] ON [dbo].[HistorialContrasenia]
(
	[HistorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialId]    Script Date: 17/6/2021 15:55:10 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialId] ON [dbo].[HistorialTarjetas]
(
	[HistorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContraseniaId]    Script Date: 17/6/2021 15:55:10 ******/
CREATE NONCLUSTERED INDEX [IX_ContraseniaId] ON [dbo].[Password]
(
	[ContraseniaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categoria_Id]    Script Date: 17/6/2021 15:55:10 ******/
CREATE NONCLUSTERED INDEX [IX_Categoria_Id] ON [dbo].[TarjetaCredito]
(
	[Categoria_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contrasenia]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contrasenia_dbo.Categoria_Categoria_Id] FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Contrasenia] CHECK CONSTRAINT [FK_dbo.Contrasenia_dbo.Categoria_Categoria_Id]
GO
ALTER TABLE [dbo].[HistorialContrasenia]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistorialContrasenia_dbo.Historial_HistorialId] FOREIGN KEY([HistorialId])
REFERENCES [dbo].[Historial] ([HistorialId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorialContrasenia] CHECK CONSTRAINT [FK_dbo.HistorialContrasenia_dbo.Historial_HistorialId]
GO
ALTER TABLE [dbo].[HistorialTarjetas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistorialTarjetas_dbo.Historial_HistorialId] FOREIGN KEY([HistorialId])
REFERENCES [dbo].[Historial] ([HistorialId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorialTarjetas] CHECK CONSTRAINT [FK_dbo.HistorialTarjetas_dbo.Historial_HistorialId]
GO
ALTER TABLE [dbo].[Password]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Password_dbo.Contrasenia_ContraseniaId] FOREIGN KEY([ContraseniaId])
REFERENCES [dbo].[Contrasenia] ([ContraseniaId])
GO
ALTER TABLE [dbo].[Password] CHECK CONSTRAINT [FK_dbo.Password_dbo.Contrasenia_ContraseniaId]
GO
ALTER TABLE [dbo].[TarjetaCredito]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TarjetaCredito_dbo.Categoria_Categoria_Id] FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[TarjetaCredito] CHECK CONSTRAINT [FK_dbo.TarjetaCredito_dbo.Categoria_Categoria_Id]
GO
USE [master]
GO
